In [1]:
from pm4py.objects.log.importer.xes import importer as xes_importer
from src.train_utils import splitEventLog
from EventLogGenerator import EventLogGenerator

In [2]:
# import event log

log = xes_importer.apply('data\Consulta\ConsultaDataMining201618.xes')

c:\Users\vinci\OneDrive\Documents\ProbabilityBasedEventLogGenerator\.conda\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 954/954 [00:00<00:00, 1336.42it/s]

In [3]:
# split event log

train_log, test_log = splitEventLog(log, train_size = 0.8, split_temporal = False, save_to = 'data/Consulta')

exporting log, completed traces :: 100%|██████████| 763/763 [00:00<00:00, 1898.06it/s]
exporting log, completed traces :: 100%|██████████| 191/191 [00:00<00:00, 1978.85it/s]

In [4]:
# create generator

generator = EventLogGenerator(train_log)

In [5]:
# generate event log

simulated_traces = generator.apply(N=len(test_log), start_timestamp = str(test_log[0][0]['time:timestamp']).split('+')[0])

Generate sequences...

100%|██████████| 191/191 [00:00<00:00, 14321.17it/s]

Generate resources...

100%|██████████| 191/191 [00:00<00:00, 193.34it/s]

Generate timestamps...

100%|██████████| 191/191 [00:00<00:00, 86289.54it/s]

In [6]:
simulated_traces

,case:concept:name,concept:name,time:timestamp,org:resources,lifecyle:transition
0,1,Start,2016-02-02 12:32:05.124304,Start,start
1,1,Start,2016-02-02 12:32:05.124304,Start,complete
2,1,Traer informacion estudiante - banner,2016-02-02 12:32:05.124304,22829,start
3,1,Traer informacion estudiante - banner,2016-02-02 12:32:05.124304,22829,complete
4,1,Radicar Solicitud Homologacion,2016-02-02 12:32:05.838778,22829,start
...,...,...,...,...,...
2701,191,Transferir creditos homologables,2016-03-20 04:09:14.051765,12535,complete
2702,191,Transferir Creditos,2016-03-20 04:09:31.625625,12535,start
2703,191,Transferir Creditos,2016-03-20 04:09:31.625625,12535,complete
2704,191,End,2016-03-20 04:09:31.625625,End,start
2705,191,End,2016-03-20 04:09:31.625625,End,complete