In [1]:
from pm4py.objects.log.importer.xes import importer as xes_importer
from src.train_utils import splitEventLog
from EventLogGenerator import EventLogGenerator

In [2]:
# import event log

log = xes_importer.apply("data/Production/production.xes")

/home/fra/Documents/ProbabilityBasedEventLogGenerator/.conda/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 225/225 [00:00<00:00, 458.16it/s]

In [3]:
# split event log

train_log, test_log = splitEventLog(log, train_size = 0.80, split_temporal = True)

In [4]:
# create generator

generator = EventLogGenerator(train_log, label_data_attributes=['Work Order  Qty', 'Part Desc.', 'Report Type', 'Qty Completed', 'Qty Rejected', 'Qty for MRB', 'Rework'])

/home/fra/Documents/ProbabilityBasedEventLogGenerator/.conda/lib/python3.11/site-packages/scipy/stats/_continuous_distns.py:6626: RuntimeWarning: overflow encountered in divide
  return np.sum((1 + np.log(shifted/scale)/shape**2)/shifted)
/home/fra/Documents/ProbabilityBasedEventLogGenerator/.conda/lib/python3.11/site-packages/numpy/_core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [5]:
test_log[0][0]['time:timestamp']

Timestamp('2012-03-12 17:00:00+0000', tz='UTC')

In [6]:
# generate event log

simulated_traces = generator.apply(N=len(test_log), start_timestamp = test_log[0][0]['time:timestamp'])

Generate sequences...

100%|██████████| 45/45 [00:00<00:00, 2393.68it/s]

Generate resources...

100%|██████████| 45/45 [00:00<00:00, 441.17it/s]

Generate attributes...

100%|██████████| 45/45 [00:00<00:00, 46.70it/s]

Generate timestamps...

100%|██████████| 45/45 [00:00<00:00, 269.49it/s]

In [7]:
simulated_traces

,case:concept:name,concept:name,time:timestamp,org:resource,Work Order Qty,Part Desc.,Report Type,Qty Completed,Qty Rejected,Qty for MRB,Rework,lifecycle:transition
0,1,Turning & Milling - Machine 4,2012-03-12 17:00:00+00:00,Machine 4 - Turning & Milling,60,Shim,S,0,0,0,NA,start
1,1,Turning & Milling - Machine 4,2012-03-12 19:32:09.112790+00:00,Machine 4 - Turning & Milling,60,Shim,S,0,0,0,NA,complete
2,1,Setup - Machine 4,2012-03-12 19:34:09.112790+00:00,Machine 4 - Turning & Milling,60,Shim,S,0,0,0,NA,start
3,1,Setup - Machine 4,2012-03-12 21:27:09.112790+00:00,Machine 4 - Turning & Milling,60,Shim,S,0,0,0,NA,complete
4,1,Turning & Milling - Machine 4,2012-03-13 10:50:09.112790+00:00,Machine 4 - Turning & Milling,60,Shim,S,1,0,0,NA,start
...,...,...,...,...,...,...,...,...,...,...,...,...
1767,45,Final Inspection Q.C.,2012-04-26 10:51:38.788422+00:00,Quality Check 1,66,Ballnut,D,64,0,0,NA,complete
1768,45,Final Inspection Q.C.,2012-04-27 13:29:44.414717+00:00,Quality Check 1,66,Ballnut,D,64,0,0,NA,start
1769,45,Final Inspection Q.C.,2012-04-27 13:53:52.704631+00:00,Quality Check 1,66,Ballnut,D,64,0,0,NA,complete
1770,45,Packing,2012-04-29 01:55:44.033063+00:00,Packing,66,Ballnut,D,64,0,0,NA,start
1771,45,Packing,2012-04-30 00:55:44.033063+00:00,Packing,66,Ballnut,D,64,0,0,NA,complete