In [1]:
from pm4py.objects.log.importer.xes import importer as xes_importer
from src.train_utils import splitEventLog
from EventLogGenerator import EventLogGenerator

In [2]:
# import event log

log = xes_importer.apply('data\\bpi12\\bpi12w.xes')

c:\Users\vinci\OneDrive\Documents\ProbabilityBasedEventLogGenerator\.conda\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
parsing log, completed traces :: 100%|██████████| 8049/8049 [00:04<00:00, 1859.15it/s]

In [3]:
# split event log

train_log, test_log = splitEventLog(log, train_size = 0.95, split_temporal = True)

In [4]:
# create generator

generator = EventLogGenerator(train_log, label_data_attributes=['AMOUNT_REQ'])

c:\Users\vinci\OneDrive\Documents\ProbabilityBasedEventLogGenerator\.conda\Lib\site-packages\scipy\stats\_continuous_distns.py:6626: RuntimeWarning: overflow encountered in divide
  return np.sum((1 + np.log(shifted/scale)/shape**2)/shifted)
c:\Users\vinci\OneDrive\Documents\ProbabilityBasedEventLogGenerator\.conda\Lib\site-packages\numpy\_core\fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
c:\Users\vinci\OneDrive\Documents\ProbabilityBasedEventLogGenerator\.conda\Lib\site-packages\scipy\stats\_continuous_distns.py:6626: RuntimeWarning: divide by zero encountered in log
  return np.sum((1 + np.log(shifted/scale)/shape**2)/shifted)

In [5]:
test_log[0][0]['time:timestamp']

Timestamp('2012-02-25 13:40:40.293000+0000', tz='UTC')

In [6]:
# generate event log

simulated_traces = generator.apply(N=len(test_log), start_timestamp = '2012-02-08 10:33:41')

Generate sequences...

100%|██████████| 403/403 [00:00<00:00, 10891.84it/s]

Generate resources...

100%|██████████| 403/403 [00:57<00:00,  6.96it/s]

Generate attributes...

100%|██████████| 403/403 [00:30<00:00, 13.13it/s]

Generate timestamps...

100%|██████████| 403/403 [00:00<00:00, 2651.35it/s]

In [7]:
simulated_traces

,case:concept:name,concept:name,time:timestamp,org:resource,AMOUNT_REQ,lifecycle:transition
0,1,W_Afhandelen leads,2012-02-08 10:33:41.000000,SYS,6000,start
1,1,W_Afhandelen leads,2012-02-08 10:34:15.758834,SYS,6000,complete
2,1,W_Completeren aanvraag,2012-02-08 11:25:57.318093,11180.0,6000,start
3,1,W_Completeren aanvraag,2012-02-08 11:27:19.439368,11180.0,6000,complete
4,2,W_Completeren aanvraag,2012-02-08 10:41:13.650252,SYS,10000,start
...,...,...,...,...,...,...
5503,403,W_Valideren aanvraag,2012-03-08 13:46:13.210927,10809.0,2500,complete
5504,403,W_Valideren aanvraag,2012-03-08 16:11:23.930686,10809.0,2500,start
5505,403,W_Valideren aanvraag,2012-03-08 16:28:02.609535,10809.0,2500,complete
5506,403,W_Nabellen incomplete dossiers,2012-03-09 20:35:13.587264,10863.0,2500,start
5507,403,W_Nabellen incomplete dossiers,2012-03-09 20:39:39.290318,10863.0,2500,complete